* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#menu {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem 0px;
  backdrop-filter: blur(4px);
}

.inicio {
  text-align: center;
}

.inicio li {
  display: inline-block;
  padding: 0px 24px;
}

:root {
  --text-geral: #ffffff;
  --background-list: rgba(255, 255, 255, 0.1);
  --border-list: rgba(255, 255, 255, 0.5);
  --background-list-hover: rgba(255, 255, 255, 0.05);
  --border-list-hover: #ffffff;
  --backgroud-midias-hover: rgba(255, 255, 255, 0.2);
  --backgroud-s-img: url(./assets/lua.svg);
}

.light {
  --text-geral: black;
  --background-list: rgba(0, 0, 0, 0.05);
  --border-list: rgba(0, 0, 0, 0.5);
  --background-list-hover: rgba(0, 0, 0, 0.2);
  --border-list-hover: #000000;
  --backgroud-midias-hover: rgba(0, 0, 0, 0.1);
  --backgroud-s-img: url(./assets/sun.svg);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
  /* background segue esta ordem: color image repeat position/size */
  height: 100%;
  background: linear-gradient(
    to right,
    black,
    rgb(76, 45, 98),
    rgb(29, 35, 51),
    rgb(57, 18, 49),
    black
  );
}

body * {
  font-family: "Inter";
  color: var(--text-geral);
}

#conteiner {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

#profile p {
  font-style: normal;
  font-weight: 500;
  /* pesso "negrito" */
  line-height: 24px;
  /* altura da linha */
  text-align: center;
  /* alinhamento do texto  */
  margin-top: 8px;
}

/* switch */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #ffffff var(--backgroud-s-img) no-repeat center;
  border: 0px;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.3s;
}

.light #switch button {
  right: 0;
  left: initial;
  animation: slide-in 0.3s forwards;
}

#switch button:hover {
  outline: 9px solid var(--backgroud-midias-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--border-list);
  background: var(--background-list);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* lista */
.lista {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  list-style: none;
}

.lista li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--background-list);
  border: 1px solid var(--border-list);
  backdrop-filter: blur(4px);
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;
  transition: background 2s;
}

.lista li a:hover {
  background: solid var(--background-list-hover);
  border: 1.5px solid var(--border-list-hover);
}

/* social-links  */
#social-links {
  padding: 24px;
  position: fixed;

  font-size: 30px;
  justify-content: left;
}

#social-links a {
  display: flex;
  padding: 16px;

  margin-left: 50px;
  margin-top: 5px;
}

#social-links a:hover {
  background: var(--backgroud-midias-hover);
  border-radius: 50px;
}

.barra {
  border: 1px solid rgb(255, 255, 255);

  height: 120px;
  width: 2px;

  margin-top: 20px;
  margin-left: 80px;
}

#rodape {
  padding: 24px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ajuste da imagem de acordo com o tamanho da tela */
@media (min-width: 700px) {
  :root {
    --image-background: url(./assets/bg-desktop.jpg);
  }

  .light {
    --image-background: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
